.Bg {
  background-color: #ccc;
  margin-left: 20%;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 600px) {
  .Bg {
    margin-left: 30%;
    padding: 20px 20px 100px 20px;
  }
}
