.Work {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Work h2 {
  font-size: 2em;
  margin-bottom: 1em;
  padding-bottom: 15px;
  border-bottom: 2px solid #fecc09;
  display: inline-block;
}

.Work p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.Work h2, .Work p {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.Work img {
  width: 100%;
}

.Indi:hover {
  -webkit-box-shadow: 5px 8px 5px #999;
  box-shadow: 5px 8px 5px #999;
  -webkit-transform: translateX(-1px);
  -ms-transform: translateX(-1px);
  transform: translateX(-1px);
}

.Indi {
  border: 1px solid #ccc;
  width: 45%;
  -webkit-box-shadow: 1px 3px 5px #999;
  box-shadow: 1px 3px 5px #999;
  -webkit-transition: box-shadow .3s, transform .3s, width .3s;
  -o-transition: box-shadow .3s, transform .3s, width .3s;
  transition: box-shadow .3s, transform .3s, width .3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}

@media only screen and (max-width: 1200px) {
  .Work h2 {
    font-size: 1.5em;
  }

  .Work p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 900px) {
  .Indi {
    width: 100%;
    margin-bottom: 50px;
  }
}
